<svg class="map" *ngIf="display_map"
       [attr.viewBox]="'0 0 ' + display_map.width + ' ' + display_map.height"
       [attr.xmlns]="'http://www.w3.org/2000/svg'"
       [attr.xmlns:xlink]="'http://www.w3.org/1999/xlink'"
       #map>

    <image [attr.href]="'../../../assets/'+display_map.id+'_display.png'" [attr.height]="display_map.height" [attr.width]="display_map.width" (click)="handleClick($event)"/>

    <g *ngFor="let player of players"
    [attr.transform]="'scale('+ this.scale_factor + ',' + this.scale_factor + ') translate(' + (player.flagx / this.scale_factor - 8) + ', ' + (player.flagy / this.scale_factor - this.rectheight + 8) + ')'" class="flag" >
    <rect x="4" y="12" width="16" height="320" rx="8" fill="#7B7B7B"/>
    <circle cx="12" cy="12" r="12" fill="#7B7B7B"/>
    <path d="M4 33H260L206.5 87.5L260 142H4V33Z" [attr.fill]="player.color.hex" (click)="this.changeColor(player.id)"/>
    <text x="105" y="88" font-size="35" class="playername-display" [attr.fill]="player.color.text_color"
    [attr.font-weight]="player.host ? 700 : 400" dominant-baseline="middle" text-anchor="middle" (click)="this.changeColor(player.id)">
      {{player.name}}
    </text>
  </g>
</svg>
