:host{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(62.75% 130.94% at 50% 50.04%, #89F7FE 0%, #6BB3FF 43.01%, #66A6FF 100%);
}

.map{
  bottom: calc(7vh + 100px);
  position: absolute;
  overflow: visible;
  max-width: 100%;
  max-height: calc(90vh - 100px);
}

.flag{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.playername-display{
  font-family: 'Quattrocento Sans', sans-serif;
}
