ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  gap: 10px;
}

li {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 100px 0 0 100px;
  border-style: solid;
  width: 100%;
  height: 50px;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-areas:
    "name name"
    "troops territories";
  grid-template-rows: 60% 40%;
  grid-template-columns: 50% 50%;
  margin: 10px 0 10px 0;
}

li div {
  text-align: center;
  color: white;
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.3;
  fill: white;
}

.name {
  grid-area: name;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 18pt;
}

.troops {
  grid-area: troops;
}

.territories {
  grid-area: territories;
}

.troops,
.territories {
  font-weight: normal;
  letter-spacing: -2px;
  font-size: 14pt;
}
