.main{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "lobbies person"
                        "lobbies create";
  background-image: url("/assets/settings_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main, input{
  font-family: 'Sigmar', cursive;
}

.lobbies{
  grid-area: lobbies;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}

.create{
  grid-area: create;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
}

.person{
  grid-area: person;
  display: flex;
}

h1{
  font-size: 42px;
  width: 60%;
  text-align: center;;
  border-radius: 30px;
  opacity: 0.8;
  background-color: rgb(119, 94, 39);
  color: white;
  border: rgb(119, 94, 39) solid 5px;
}

.form-control{
  width: 55%;
  border-radius: 30px;
  display: flex;
  padding: 2.5%;
  margin-top: 2.5%;
  opacity: 0.8;
  border: rgb(119, 94, 39) solid 5px;
}

.form-control:hover, .input:focus-within{
  border: white solid 5px;
  opacity: 1;
}

.submit{
  justify-content: center;
  background-color: rgb(221, 177, 83);
}

.submit:hover{
  cursor: pointer;
}


.input{
  background-color: rgba(97, 75, 49, 1);
  justify-content: start;
  flex-direction: column;
  color: rgb(236, 236, 236);
}

.input:hover{
  cursor: text;
}

input, button{
  color: white;
  background-color:rgba(132, 132, 132, 0);
  border: 0;
  width: 100%;
  padding: 5px;
  font-size: 28px;
}

input:focus{
  outline: none;
}


