<h3 class="fullwidth center">Map</h3>
<div id="map-wrapper">
  <div *ngFor="let map of maps" class="container" [ngClass]="map.id === this.selected ? 'container-selected' : ''" (click)="changeMap(map.id)">
    <svg [attr.viewBox]="'0 0 ' + map.svg_width + ' ' + map.svg_height" fill="#45CD6B" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <linearGradient id="bg" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" style="stop-color: #B2FF35;stop-opacity:1" />
          <stop offset="100%" style="stop-color:#D4FC79;stop-opacity:1" />
        </linearGradient>
      </defs>
      <path [attr.d]="map.display_path" [attr.fill]="'url(#bg)'"/>
    </svg>
    <span class="map-name" [ngClass]="map.id === this.selected ? 'name-selected' : ''">{{map.id}}</span>
  </div>
</div>
