:host {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
}

app-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
}

#selection {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

app-player-display {
  position: absolute;
  right: 0;
  width: 15%;
  min-width: 300px;
  z-index: 5;
}

app-error-message {
  position: absolute;
  top: 50px;
  left: calc(50% - 250px);
  width: 500px;
  z-index: 10;
}
