<div class="switch-settings-view" [ngClass]="open ? 'switch-settings-view-close' : 'switch-settings-view-open'">
  <div class="switch-settings-element switch-settings-line" [ngClass]="open ? 'switch-settings-close-left' : 'switch-settings-open-top'"></div>
  <div class="switch-settings-element switch-settings-line" [ngClass]="open ? 'switch-settings-close-right' : 'switch-settings-open-bottom'"></div>

  <div class="switch-settings-element switch-settings-circle" [ngClass]="open ? 'switch-settings-circle-inactive' : 'switch-settings-circle-top'"></div>
  <div class="switch-settings-element switch-settings-circle" [ngClass]="open ? 'switch-settings-circle-inactive' : 'switch-settings-circle-bottom'"></div>
</div>
