:host{
  background-image: linear-gradient(-225deg, #FFFEFF80 0%, #D7FFFE80 100%);
  height: 100px;
  border-radius: 40px;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
}

#wrapper{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 5%;
}

.setting-title{
  font-size: 12px;
  font-weight: normal;
  align-items: flex-end;
  text-transform: uppercase;
}

.setting-title::after{
  content: ":";
}

.setting-value{
  font-size: 30px;
  font-weight: bold;
  align-items: baseline;
  text-transform: capitalize;
}

.setting-ceil{
  display: grid;
  grid-template-rows: 30% 70%;
  & span{
    font-family: 'Quattrocento Sans', sans-serif;
    display: inline-flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }
}
