<div id="wrapper">
  <div class="setting-ceil">
    <span class="setting-title">Map</span>
    <span class="setting-value">{{this.lobby?.map_id}}</span>
  </div>
  <div class="setting-ceil">
    <span class="setting-title">Card Bonus</span>
    <span class="setting-value">{{this.lobby?.is_fixed ? "fixed" : "progressive"}}</span>
  </div>
  <div class="setting-ceil">
    <span class="setting-title">Lobby Visibility</span>
    <span class="setting-value">{{this.lobby?.is_public ? "public" : "private"}}</span>
  </div>
  <div class="setting-ceil">
    <span class="setting-title">Turn Timer</span>
    <span class="setting-value">{{this.lobby?.turn_timer}}s</span>
  </div>
  <div class="setting-ceil">
    <span class="setting-title">Players</span>
    <span class="setting-value">{{this.lobby?.players?.length}} / {{this.lobby?.max_players}}</span>
  </div>
</div>
