<div class="wrapper">
  <h3 class="fullwidth center">General Settings</h3>
  <h5>Max Players</h5>
  <app-slider
    [name]="'max_players_change'"
    [min]="1"
    [max]="10"
    [value]="lobby?.maxPlayers"
    (onChange)="changeAttribute($event)"/>

  <h5>Turn Timer</h5>
  <app-slider
    [name]="'turn_timer_change'"
    [min]="30"
    [max]="120"
    [value]="lobby?.turnTimer"
    (onChange)="changeAttribute($event)"/>

  <h5>Card Bonus</h5>
  <app-switch
    [name]="'card_bonus_change'"
    [labelLeft]="'progressive'"
    [labelRight]="'fixed'"
    [checked]="(lobby?.isFixed)"
    (onChange)="changeAttribute($event)"/>

  <h5>Lobby Visibility</h5>
  <app-switch
    [name]="'privacy_change'"
    [labelLeft]="'private'"
    [labelRight]="'public'"
    [checked]="lobby?.isPublic"
    (onChange)="changeAttribute($event)"/>
</div>
