:host {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/lobby_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.creation {
  width: 40%;
  min-height: 80%;
  background-color: black;
  opacity: 0.95;
  display: grid;
  grid-template-rows: calc(100% - 100px) 100px;
  grid-template-columns: calc(100% - 100px) 100px;
  grid-template-areas:
    "content content"
    "displaysettings switchView";
}

.switchView {
  grid-area: switchView;
  background-color: rgb(137, 0, 27);
  display: flex;
  justify-content: center;
  padding: 10%;
  align-items: center;
}

.switch-icon {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  border-radius: 20px;
}

.switch-icon:hover {
  width: 110%;
  height: 110%;
}

.content {
  grid-area: content;
  background-color: aqua;
}

.displaySettings {
  grid-area: displaysettings;
  background-color: rgb(137, 0, 27);
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex: 1;
  overflow: auto;
}

.attribute {
  background-color: rgb(185, 1, 39);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: min-content; /* needs vendor prefixes */
}

.title,
.value {
  text-align: center;
  margin: 0;
}

.title::after {
  content: ":";
}

.title {
  color: rgb(195, 195, 195);
  font-family: "Londrina Solid", cursive;
  font-size: 22px;
}

.value {
  font-family: "Sigmar", cursive;
  font-size: 32px;
  color: white;
  text-transform: capitalize;
}
