@import '../../../variables';

.creation {
  width: 100%;
  min-height: 80%;
}

@media screen and (min-width: $medium) {
  .creation{
    width: 70%;
  }
}

@media screen and (min-width: $elarge) {
  .creation{
    width: 50%;
  }
}

