<div class="creation">
  <div class="content" #content>
    <div class="players" [style.display]="drawPlayers ? 'grid' : 'none'" >
      <div class="player" *ngFor="let player of sortedPlayers" [style.background-color]="player.color.hex">
        <p class="playername">{{player.name}}</p>
      </div>
      <div class="slot" *ngFor="let slot of openSlots"></div>
    </div>
    <div class="settings" [style.display]="!drawPlayers ? 'block' : 'none'">Settings</div>
  </div>
  <div class="actionbar">
    <div><img src="../../../assets/leave.svg"></div>
    <div><img src="../../../assets/invite.svg"></div>
    <div><img src="../../../assets/run.svg"></div>
    <div><img src="../../../assets/visible.svg"></div>
    <div><img src="../../../assets/refresh.svg" (click)="changeColor()"></div>
    <div><img src="../../../assets/settings.svg"></div>
  </div>
</div>

