.navigationbutton {
  position: absolute;
  height: 120px;
  width: auto;
  top: calc(50% - 60px);
}

.backwards{
  left: 0;
}

.forwards{
  right: 0;
}

.transparent{
  opacity: 0;
  transform: scaleY(0);
}

.intransparent{
  opacity: 1;
  transform: scaleY(1);
}
