.navigationbutton {
  position: absolute;
  height: 120px;
  width: auto;
  top: calc(50% - 60px);
}

.backwards{
  left: 0;
}

.forwards{
  right: 0;
}

.settings{
  background-image: linear-gradient(-225deg, #FFFEFF80 0%, #D7FFFE80 100%);
  position: absolute;
  width: 80%;
  border-radius: 40px;
  padding: 20px;
  color: white;
}

.display-settings{
  bottom: 5vh;
  height: 60px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 5%;
}

.setting-title{
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 100%;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-flex;
  align-items: flex-end;
}

.setting-title::after{
  content: ":";
}

.setting-value{
  display: inline-flex;
  text-transform: capitalize;
  align-items: baseline;
  font-size: 30px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
}

.setting-ceil{
  display: grid;
  grid-template-rows: 30% 70%;
}
